<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/aulaPHP145/projetos/MVC-PHP/resources/assets/css/page.css">
    <title>{{Title}}</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header">{{Header}}</div>
        </header>

        <div class="aside">{{Aside}}</div>

        <div class="main">{{Main}}</div>

        <div class="footer">{{Footer}}</div>
    </div>

</body>

</html>